.container
  .text-center
    Copyright &copy 2017
    = link_to "Aleksandr Logvinenko", "https://www.linkedin.com/in/aleksandr-logvinenko-1bb582143/"
    %br
    Thanks for design inspiration:
    = link_to "andres.wtf", "https://andres.wtf"
